<% if user_signed_in? && current_user.admin? %>
  <div class="col-sm-12">
    <%= link_to "Add a New Eat", new_eat_path, id: "new_eat_link", remote: true %>
    <%= link_to "Hide Form", new_eat_path, id: "hide_eat_form", remote: true %>
  </div>
<% end %>

<div class="col-sm-6">
  <div class="panel-container top-eats">
    <h3>top pdx happy eats</h3>
    <% @eats.each do |eat| %>
      <%= render eat %>
    <% end %>
  </div>
</div>

<div class="col-sm-6">
  <div class="panel-container newest-eats">
    <h3>newest pdx happy eats</h3>
    <% @eats.order("created_at DESC").each do |eat| %>
      <%= render eat %>
    <% end %>
  </div>
</div>
