<div class="jumbotron">
  <h1>happy eats</h1>
</div>

<div class="col-sm-6">
  <div class="jumbotron">
    <h3>top pdx happy eats</h3>
      <% @eats.each do |eat| %>
        <h4><%= link_to eat.name, eat %></h4>
        <% end %>
  </div>
</div>

<div class="col-sm-6">
  <div class="jumbotron">
    <h3>newest pdx happy eats</h3>

  </div>
</div>
